<script type="application/json" class="js-hypothesis-config">
{
"showHighlights": true,
"openSidebar": true
}
</script>
<script async src="https://hypothes.is/embed.js"></script>

<style>
  #docs-site-header>div>div.flex.justify-between.md\:grow>div:nth-child(3)>div.relative>div:nth-child(1)>button {
    display: none;
  }

  #docs-app>div.fixed.top-0.bottom-0.right-0.z-40.w-4\/5.h-full.transition-transform.duration-300.ease-in-out.bg-white.focus\:outline-none.dark\:bg-dark-850.translate-x-0.shadow-2xl.md\:w-104>div>div>button {
    position: relative;
    right: 20px;
  }

  #docs-site-header>div {
    margin-right: 30px;
  }

  .sidebar-right[data-v-b3211732] {
    display: none;
  }

  h3,
  h4,
  h5 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 3px;
    margin: 50px 0;
  }

  h6 {
    margin-bottom: 0px !important;
    color: dimgrey !important;
  }

  em {
    color: crimson !important
  }
</style>