<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4SF4E30CW2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4SF4E30CW2');
</script>

<style>
  .spirit {
    background-color: aliceblue;
    padding: 5px 10px 5px 5px;
    margin: -5px 10px 5px 0;
  }

  .bible {
    background-color: floralwhite;
    padding: 5px 10px 0px 5px;
    margin: -5px 10px 5px 0;
  }

  h3,
  h4,
  h5 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 3px;
  }

  h6 {
    margin-bottom: 0px !important;
    color: dimgrey !important;
  }

</style>

#docs-content > div 